.user-info-box {
    width: 266px;
    top: 50px;
    position: relative;
}

.user-info-box-mobile {
    width: 100px;
    height: 100%;
    top: 50px;
    margin-right: 50px;
    position: relative;
}

.button-group-position {
    display: flex;
    margin: 0 20px 20px;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button-group-position .row-btn-grp-pos {
    width: 50%;
    margin-left: 47%;
    height: 60px;
    position: relative;
}

.button {
    margin-right: 20px;
}

.avatars {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.avatars .ant-avatar {
    margin-right: 8px;
}

.more-avatars {
    font-size: 1rem;
    color: #555;
    display: flex;
    align-items: center;
}

.more-avatars .anticon {
    margin-right: 4px;
}

.small-button {
    float: right;
    width: 120px;
    margin-top: -36px;
    margin-right: -30px;
}

.buttoncheck {
    background-color: white;
    color: #5c5967;
}

/* styles.css */

.bodyposition {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    padding: 20px 5px 50px;
    margin: 0 20px;
}

.bodyposi {
    min-width: 500px;
    margin: 50px 10px 0;
}

.card-pos {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card h2 {
    margin-bottom: 10px;
}

.tag {
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.avatars {
    margin-top: 10px;
}

.small-button {
    margin-top: -40px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.small-button .icon {
    margin-right: 6px;
}

.small-button .icon img {
    width: 16px;
    height: 16px;
}

.button-main {
    width: 50%;
    margin-left: 68%;
    margin-top: -50px; /* Số lượng pixel bạn muốn dịch chuyển lên trên */
    display: flex;
    position: relative;
}

.iconfolder {
    margin-top: 5px;
}
.ant-dropdown-link {
    color: black;
}
.dropdown-menu {
    position: absolute;
    padding-left: 30px;
    top: 17px;
    left: -20px;
}

.ant-dropdown-link {
    color: black;
}
.dropdown-menu {
    position: absolute;
    padding-left: 30px;
    top: 17px;
    left: -20px;
}

.header-position {
    margin: 20px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: white; /* Set header background to white */
    border-bottom: 1px solid #e8e8e8;
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 16px; /* Optional: Add margin to separate from the top and sides */
}

.header-position > .header-title {
    font-size: 24px;
    color: #2c3e50;
    font-family: Quicksand;
    font-weight: 700;
}

.header-position > .setting-icon {
    font-size: 20px;
    color: #db0d4b;
    margin-right: 30px;
}
