/* ApproveCV.css */

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#APRCV {
    height: 100vh;
    overflow: hidden;
}

.content {
    height: 100vh;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    margin: 20px 0 40px;
}

.content-title {
    margin: 0;
    font-size: 24px;
    color: #2c3e50;
}

.user-info {
    width: 25%;
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    cursor: pointer;
}

#APRCV .content > .content-header > .user-info > .account-setting {
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
}

#APRCV .content > .content-header > .user-info > .account-setting:hover {
    rotate: 90deg;
}

.user-profile-small {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.user-details {
    text-align: left;
}

.user-name {
    font-weight: bold;
    display: block;
    color: black;
}

.user-role {
    font-size: 12px;
    color: #7f8c8d;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.ant-table-container {
    font-family: "Quicksand", sans-serif;
}

.section-title {
    font-size: 20px;
    /* margin-bottom: 10px; */
    color: #92929d;
}

#APRCV .content > .filter-section {
    background-color: #ffffff;
    padding: 20px 20px 0px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

.button-group {
    display: flex;
    gap: 1.2em;
    flex-wrap: wrap;
}

.filter-search {
    display: inline;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.button-schedule {
    background-color: #7d3c98;
    color: #fff;
}

.button-schedule:hover {
    background-color: #5b2c6f;
}

.button-export {
    background-color: #27ae60;
    color: #fff;
}

.button-export:hover {
    background-color: #1e8449;
}

.button-edit {
    background-color: #e67e22;
    color: #fff;
}

.button-edit:hover {
    background-color: #d35400;
}

.button-delete {
    background-color: #c0392b;
    color: #fff;
}

.button-delete:hover {
    background-color: #a93226;
}

.button-add-intern {
    background-color: #3498db;
    color: #fff;
}

.button-add-intern:hover {
    background-color: #2980b9;
}

#APRCV > .content > .filter-section > .list {
    font-family: Quicksand, sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

th,
td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #fff;
}

div.approve-btns {
    display: flex;
}

div.approve-btns > div.view,
div.approve-btns {
    display: flex;
}

div.approve-btns > div.view {
    margin-right: 5px;
    padding: 5px 10px;
    color: #b22222;
    background-color: #ffffff;
    border: 1px solid #b22222;
    border-radius: 20px;
    cursor: pointer;
}

div.approve-btns > div.feedbacks {
    margin-right: 9px;
    padding: 10px 10px 0px 10px;
    color: #4889e9;
    background-color: #ffffff;
    border: 1px solid #4889e9;
    border-radius: 20px;
    cursor: pointer;
}

div.approve-btns > div.view:hover {
    color: #ffffff;
    background-color: #b22222;
    border: 1px solid #b22222;
}

div.approve-btns > div.feedbacks:hover {
    color: #ffffff;
    background-color: #4889e9;
    border: 1px solid #4889e9;
}

#APRCV .content > .filter-section > .filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
    margin-bottom: 1em;
}

#APRCV .content > .filter-section > .filter > .fields {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin-bottom: 10px;
}

#APRCV .content > .filter-section > .filter > .fields > input {
    width: 20em;
    background-color: #fff;
}

#APRCV .content > .filter-section > .filter > .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
}

#APRCV .content > .filter-section > .filter > .buttons > .btn {
    padding: 15px 20px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

#APRCV .content > .filter-section > .filter > .buttons > .cln-btn {
    color: #000;
    border: 1px solid #cbd2dc;
    height: auto;
    width: 150px;
    cursor: pointer;
}

#APRCV .content > .filter-section > .filter > .buttons > .cln-btn:hover {
    color: #fff;
    background-color: #6d6d6d;
}

#APRCV .content > .filter-section > .filter > .buttons > .srch-btn {
    color: #fff;
    background-color: #4889e9;
    width: 150px;
    height: auto;
    cursor: pointer;
}

#APRCV .content > .filter-section > .filter > .buttons > .srch-btn:hover {
    border: 1px solid #4889e9;
    color: #4889e9;
    background-color: #fff;
    cursor: pointer;
}

.custom-placeholder .ant-picker-input input::placeholder {
    font-size: 15px; /* Change this to your desired font size */
}
