/* CommentPopup.css */
.comment-popup-modal .ant-modal-content {
    border-radius: 10px;
}

.comment-popup-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

#section-btn > .toggle-popup-btn {
    border: none;
    background-color: #fff;
    font-weight: 600;
    font-size: large;
    padding: 0 1em;
}

/*detail popup section*/

.detail-popup-comment {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:  25px 20px;
    margin: 0 10px 30px 0;
}

.detail-popup-comment label {
    margin: 10px 0;
    font-weight: 600;
}

.view-popup-row .ant-input {
    width: 100%;
    height: 3.5em;
    padding: 0 20px 0 20px;
    border-radius: 10px;
}

.view-popup-row .view-popup-link {
    display: flex;
    margin: 30px 20px 10px;
    color: #333333;
    text-decoration: underline;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #000000;
    text-shadow: none;
}

.ant-tabs .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 40px;
}

.custom-tabs .ant-tabs-tab {
    font-size: 16px;
}

.custom-tabs .ant-tabs-tab:not(.ant-tabs-tab-active) {
    opacity: 0.5;
}

/*comment popup section*/

.comment-popup-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 20px;
}

.comment-popup-row .ant-input {
    width: 100%;
    height: 3.5em;
    padding: 0 20px 0 20px;
    border-radius: 10px;
}

/* result popup section*/

.result-popup-section {
    height: 60vh;
    overflow: auto;
}

.result-popup-section >.result-section > .field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 20px;  
}

.result-popup-section label {
    font-weight: 600;
    margin-bottom: 0 0 15px 0;
}

.result-popup-section > .result-section input{
    padding: 10px 15px;
}

.result-popup-section > .result-section h3,
.result-popup-section > .result-section h2{
    color: #A03B0F;
    margin-top: 1em;
}

.comment-popup-footer > .save-btn {
    color: #fff;
    background-color: #4889E9;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.comment-popup-footer > .save-btn:hover {
    background-color: #3E95FF;
}

.result-popup-section >.result-section > .field .ant-input {
    width: 100%;
    height: 3.5em;
    padding: 0 20px 0 20px;
    border-radius: 10px;
}

