.user-container {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 20px 15px 10px;
    position: absolute;
    bottom: 0;
    font-family: Quicksand;
}

.user-container .user-image {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-container .user-info {
    display: block;
    margin-left: 10px;
}

.user-container .user-info .user-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.12600000202655792px;
    text-align: left;
    color: #000000;
}

.user-container .user-info .user-role {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.09799999743700027px;
    text-align: left;
    color: #AAABAF;
}