.menu {
    width: 18%;
    height: 860px;
    position: absolute;

    top: 0;
    left: 0;
    background-color: #fff;
    color: blue;
    align-items: center;
    border-radius: 0 30px 30px 0;
}

.logo-amazing {
    display: block;
    width: 192px;
    height: auto;
    margin: 0 auto;
    padding: 24.82px;
}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;
    position: absolute;
    bottom: 0;
    width: 226px;
}

.user-container .user-image {
    display: block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.user-container .user-info .user-name {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.12600000202655792px;
    text-align: left;
    color: #000000;
}

.user-container .user-info .user-role {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.09799999743700027px;
    text-align: left;
    color: #AAABAF;
}