.desc {
    margin-top: 13px;
    font: 16px;
    font-weight: 600;
    font-family: sans-serif, Quicksand;

}

.type-email{
    height: 50px;
    width: 100%;
    font-family: sans-serif, Quicksand;
}

.type-email label {
    font-size: 15px;
    padding: 14px 0;
}

.textarea{
    font-size: 16px;
    height: 200px;
    border-radius: 8px;
    font-family: sans-serif, Quicksand;
}


.send-email-btn{
    /* margin: 0% 150px; */
    background-color: #6537b1;
    color: #ffff;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    font-size: 16px;
}

.send-email-btn:hover{
    background-color: #6537b1;
}

.send-email-modal{
    background-color: #6537b1;
    font-family: sans-serif, Quicksand;
    color: #ffff;
    width: auto;
    height: 45px;
    border-radius: 15px;
    font-size: 16px;
}

.sendMail-modal{
    font-family: sans-serif, Quicksand;
}

