.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 65px;
    max-height: 100vh;
}

@media (max-width: 991px) {
    .container {
        padding: 0 20px;
    }
}

/*
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-size: 30px;
    color: #000;
    font-weight: 400;
}

@media (max-width: 991px) {
    .header {
        flex-wrap: wrap;
        padding-right: 20px;
    }
}
*/

.logo {
    width: 244px;
    max-width: 100%;
    aspect-ratio: 2.94;
    object-fit: contain;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: auto 0;
}

.language-flag {
    width: 88px;
    aspect-ratio: 2;
    object-fit: contain;
}

.language-text {
    font-family: Inter, sans-serif;
    margin: auto 0;
}

.language-dropdown {
    width: 25px;
    fill: #000;
    margin: auto 0;
    aspect-ratio: 1.67;
    object-fit: contain;
}

.main-content {
    align-self: center;
    margin-top: 31px;
    width: 100%;
    max-width: 1772px;
}

@media (max-width: 991px) {
    .main-content {
        max-width: 100%;
    }
}

.content-wrapper {
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .content-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    line-height: normal;
    width: 38%;
    margin-left: 0;
}

@media (max-width: 991px) {
    .form-column {
        width: 100%;
    }
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .reset-password-form {
        max-width: 100%;
        margin-top: 40px;
    }
}

.form-title {
    color: #4889e9;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font: 700 40px Inter, sans-serif;
    margin: 36px;
}

.form-description {
    color: #667085;
    font-family: Inter, sans-serif;
    line-height: 150%;
    margin-top: 8px;
}

.input-label {
    color: #344054;
    font-family: Inter, sans-serif;
    font-weight: 500;
    margin-top: 23px;
}

.input-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    margin-top: 8px;
    width: 420px;
    max-width: 100%;
    gap: 20px;
    color: #667085;
    line-height: 150%;
    padding: 10px 4px 10px 14px;
}

.input-field {
    font-family: Inter, sans-serif;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.input-icon {
    width: 24px;
    aspect-ratio: 1;
    object-fit: contain;
}

.form-note {
    color: #667085;
    font-family: Inter, sans-serif;
    line-height: 150%;
    margin-top: 34px;
}

.reset-button {
    font-family: Inter, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #4889e9;
    margin-top: 22px;
    max-width: 100%;
    color: #fff;
    line-height: 150%;
    padding: 12px 60px;
    border: none;
    box-shadow: 0 4px 4px #ccc;
    cursor: pointer;
}

@media (max-width: 991px) {
    .reset-button {
        padding: 0 20px;
    }
}

.image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    /* width: 60%; */
    margin-left: 20px;
}

@media (max-width: 991px) {
    .image-column {
        width: 100%;
    }
}

.illustration {
    width: 100%;
    flex-grow: 1;
    aspect-ratio: 1.47;
    object-fit: contain;
}

@media (max-width: 991px) {
    .illustration {
        max-width: 100%;
        margin-top: 36px;
    }
}