    .content {
        font-family: Quicksand;
    }

    .tbl-wrapper {
        overflow-x: auto;
        /* Tạo thanh cuộn ngang khi bảng quá rộng */
    }

    .table {
        width: 100%;
        /* Bảng có thể mở rộng hết chiều rộng của phần tử chứa nó */
    }

    /* Các phần tử trong bảng co dãn khi màn hình nhỏ hơn */
    .table td,
    .table th {
        white-space: nowrap;
        /* Ngăn các nội dung bên trong phần tử từ việc bị ngắt dòng */
    }

    /* Tùy chỉnh các đặc tính khi màn hình thu nhỏ hơn 768px */
    @media (max-width: 768px) {
        .tbl-wrapper {
            overflow-x: scroll;
            /* Sử dụng thanh cuộn ngang khi bảng quá rộng */
        }
    }

    .filter-section-confirm {
        background-color: white;
        font-family: Quicksand;
        padding: 20px;
        border-radius: 20px;
        width: 94%;
        margin-left: 18px;
    }

    .filter-button {
        padding: 7px 11px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }


    .filter-confirm {
        display: flex;
    }

    .fields-confirm {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px 20px;
        margin-bottom: 20px;
    }

    .fields-confirm .ant-btn {
        display: flex;
    }

    .fields-confirm .ant-btn .anticon-down {
        margin-left: 8px;
    }

    .fields-confirm .ant-input,
    .fields-confirm .ant-picker {
        width: 100%;
        padding: 7px 11px;
        font-size: 12px;
    }

    

    .cln-btn-confirm {
        background-color: white;
        border: 1px solid #CBD2DC;
        /* padding: 20px 20px; */
        margin-left: 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 20px;
        width: 80%;

    }

    .btn-confirm {
        background-color: #4889E9;
        border: 1px solid #CBD2DC;
        /* padding: 20px; */
        margin-left: 20px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        width: 80%;
    }

    .buttons-confirm {
        margin-top: 10px;
    }

    .date-picker input {
        height: 90%;
        margin-top: 3px;
        font-size: 12px;
    }


    /* responsive*/

    /* Common styles for screen widths up to 1380px */
    @media (max-width: 1530px) {
        .filter-section-confirm {
            width: 93%;
            margin-left: 2%;
            padding: 20px;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
        }

        .filter-input {
            font-size: 12px;
        }

        .date-picker {
            font-size: 12px;
        }

        .buttons-confirm {
            margin-bottom: 4px;
        }

        .cln-btn-confirm,
        .btn-confirm {
            width: 80%;
            /* padding: 7px 11px; Adjust padding as needed */
        }
    }

    /* Adjust styles for screen widths up to 1375px */
    @media (max-width: 1375px) {
        .filter-section-confirm {
            width: 93%;
            margin-left: 2%;
            padding: 20px;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
        }

        .filter-input {
            font-size: 12px;
        }

        .date-picker {
            font-size: 12px;
        }

        .buttons-confirm {
            margin-bottom: 4px;
        }

        .cln-btn-confirm,
        .btn-confirm {
            width: 86%;
            /* padding: initial; or specify a different padding if needed */
        }
    }

    /* Styles for screen widths up to 1324px */
    @media (max-width: 1373px) {
        .filter-section-confirm {
            width: 93%;
            margin-left: 3%;
            padding: 20px;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
        }

        .filter-input {
            font-size: 12px;
        }

        .date-picker {
            height: 90%;
            margin-top: 3px;
            font-size: 12px;
        }

        .buttons-confirm {
            margin-bottom: 4px;
        }

        .cln-btn-confirm,
        .btn-confirm {
            width: 80%;
            /* padding: initial; or specify a different padding if needed */
        }
    }

    @media (max-width: 1370px) {
        .filter-section-confirm {
            width: 92%;
            margin-left: 2%;
            padding: 20px;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
        }

        .filter-input {
            font-size: 12px;
        }

        .date-picker {
            height: 90%;
            margin-top: 3px;
            font-size: 12px;
        }

        .buttons-confirm {
            margin-bottom: 4px;
        }

        .cln-btn-confirm,
        .btn-confirm {
            width: 80%;
            /* padding: initial; or specify a different padding if needed */
        }
    }

    @media (max-width: 1023px) {
        .filter-section-confirm {
            width: 88%;
            margin-left: 3%;
            padding: 20px;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
        }

        .filter-input {
            font-size: 12px;
        }

        .date-picker {
            height: 90%;
            margin-top: 3px;
            font-size: 12px;
        }

        .buttons-confirm {
            margin-bottom: 4px;
        }

        .cln-btn-confirm,
        .btn-confirm {
            width: 80%;
            /* padding: initial; or specify a different padding if needed */
        }
    }

    @media (max-width: 1080px) {
        .filter-section-confirm {
            width: 91%;
            margin-left: 2%;
            padding: 20px;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
        }

        .filter-input {
            font-size: 12px;
        }

        .date-picker {
            height: 90%;
            margin-top: 3px;
            font-size: 12px;
        }

        .buttons-confirm {
            margin-bottom: 4px;
        }

        .cln-btn-confirm,
        .btn-confirm {
            width: 80%;
            /* padding: initial; or specify a different padding if needed */
        }
    }

    @media (max-width: 1024px) {
        .filter-section-confirm {
            width: 91%;
            margin-left: 2%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 953px) {
        .filter-section-confirm {
            width: 89%;
            margin-left: 3%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 800px) {
        .filter-section-confirm {
            width: 88%;
            margin-left: 4%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 781px) {
        .filter-section-confirm {
            width: 88%;
            margin-left: 3%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 680px) {
        .filter-section-confirm {
            width: 86%;
            margin-left: 3%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 604px) {
        .filter-section-confirm {
            width: 84%;
            margin-left: 3%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 600px) {
        .filter-section-confirm {
            width: 84%;
            margin-left: 4%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 600px) {
        .filter-section-confirm {
            width: 81%;
            margin-left: 4%;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .filter-button {
            font-size: 12px;
            padding: 4px 6px;
            height: 100%;
        }

        .filter-input {
            font-size: 12px;
            height: 4vh;
        }

        .date-picker {
            height: 4vh;
            font-size: 12px;
        }

        .filter-table {
            order: 1;
            /* Ensures the table is pushed down */
            margin-bottom: 10px;
            /* Adds space between table and buttons */
        }


        .cln-btn-confirm,
        .btn-confirm {
            width: 100%;
            order: 2;
            margin-left: -0%;
        }

        .filter-confirm {
            display: grid;

        }

        .fields-confirm {
            display: flex;
            flex-direction: column;
        }
    }