.content {
    font-family: Quicksand;
}

.tbl-wrapper {
    overflow-x: auto;
    /* Tạo thanh cuộn ngang khi bảng quá rộng */
}

.table {
    width: 100%;
    /* Bảng có thể mở rộng hết chiều rộng của phần tử chứa nó */
}

/* Các phần tử trong bảng co dãn khi màn hình nhỏ hơn */
.table td,
.table th {
    white-space: nowrap;
    /* Ngăn các nội dung bên trong phần tử từ việc bị ngắt dòng */
}


.row-view-details .ant-row {
    row-gap: 0px !important;
}

