.space-bg {
    text-align: center;
}

.clear-filter-button {
    font-size: 14px;
    border-radius: 15px;
    height: 50px;
}

.search-filter-button {
    font-size: 14px;
    border-radius: 15px;
    height: 50px;
}

.view-button:hover {
    background-color: #B22222 !important;
    color: #fff !important;
}

.upload-file-button:hover {
    background-color: #3498db !important;
    color: #fff !important;
}

.grouplist-table .ant-table-row {
    height: 76px;
}

.add-new-intern-modal {
    width: 57% !important;
}