.image-signup {
    width: 100%;
    flex-grow: 1;
    aspect-ratio: 1.47;
    object-fit: contain;
}

@media (max-width: 991px) {
    .image-signup {
        /* max-width: 100%; */
        margin-top: 36px;
    }
}