.setting-icon {
  cursor: pointer;
  transition: transform 0.3s;
}

.setting-icon.rotate {
  transform: rotate(45deg);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-size: x-large;
}

.dropdown-menu-setting {
  top: 42px;
  right: 0;
  position: absolute;
  padding: 15px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 -4px 32px #0003;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0;
  border-radius: 10px;


}

.dropdown-item:hover {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.dropdown-item a {
  text-wrap: nowrap;
  font-size:smaller;
  padding-left:50px ;
  padding: 5px 10px;
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
  
}

/* .dropdown-item a:hover {
  text-decoration: underline;
} */
.icon-menu{
    font-size: smaller;
    
}
.icon-menu-2{
    font-size:small;
    padding-right: 10px;
}
.setting{
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: smaller;
}