.content-intern-list {
    width: 100%;
    height: 860px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: inherit !important;
}

.content-intern-list .group-filter-table {
    max-width: 92%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 34px;
}

.content-intern-list .group-filter-table .table-intern-list {
    width: 100%;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 34px;
    margin: 0 auto;
}

.group-filter-table .filter {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
}

.group-filter-table .filter .filter-group {
    width: 23%;
}

.filter-button {
    padding: 10px;
}

.search-button-internlist {
    padding: 10px;
}

.filter-group-buttons {
    display: flex;
    flex-direction: column;
}

.view {
    background: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.view:hover {
    background: rgb(66, 66, 243);
    color: white;

}