.content-intern-list {
    width: 100%;
    height: 860px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: inherit !important;
}

.content-intern-list .group-filter-table {
    max-width: 96%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-intern-list .group-filter-table .table-intern-list {
    width: 96%;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 34px;
    margin: 0 auto;
}

.group-filter-table .filter {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
    gap: 5px;
}

.group-filter-table .filter .filter-group {
    width: 25%;
}

.group-filter-table .filter .filter-group-2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.filter-button {
    margin-left: 4px;
    margin-bottom: 15px;
}

.search-button-internlist {
    margin-left: 10px;

}

.cln-btn {
    border: 1px solid #CBD2DC !important;
}

.cln-btn:hover {
    color: #fff !important;
    background-color: #6d6d6d !important;

}

.search-btn {
    color: #fff;
    background-color: #4889E9;
}

.search-btn:hover {
    border: 1px solid #4889E9 !important;
    color: #4889E9 !important;
    background-color: #fff !important;
}


.view {
    background: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.view:hover {
    background: rgb(66, 66, 243);
    color: white;

}