/* .content-intern-list {
    width: 82%;
    height: auto;
    right: 0;
    float: right;
    margin: 0 auto;
    padding-top: 100px;
} */

.content-intern-list {
    width: 82%;
    height: 860px;
    position: absolute;
    top: 0;
    right: 0;
}

.content-intern-list .group-filter-table {
    max-width: 92%;
    height: 710px;
    /* right: 0;
    top: 120px; */
    /* float: right; */
    margin: 150px auto 0;
    background-color: #FFFFFF;
    border-radius: 34px;
}

.content-intern-list .group-filter-table .table-intern-list {
    width: 100%;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 34px;
    margin: 0 auto;
}

.group-filter-table .filter {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
}

.group-filter-table .filter .filter-group {
    width: 23%;
}

.filter-button {
    padding: 10px;
}

.search-button {
    padding: 10px;
}