.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  font-size: 10px;
  color: #000;
  background-color: white;
}

@media (max-width: 991px) {
  .header {
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.language-switcher {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.language-switcher button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  padding-right: 25px; /* Thêm khoảng cách cho mũi tên */
}

.language-switcher button:hover {
  color: #ff6600; /* Màu khi di chuột qua */
}

.language-switcher button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333; /* Màu của mũi tên */
}

.language-switcher button.open::after {
  border-top: none;
  border-bottom: 5px solid #333; /* Màu của mũi tên khi nút mở */
}