.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 442.5px;
}

.AvaCurent {
  margin: 0 35%;
  margin-top: 20%;
  align-items: center;
}
.close-button {
  position: absolute;
  top:40px;
  right: 20px;
  font-size: 50px;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.UsernameCurent {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ManageAccount {
  border: 4px solid rgb(101,55,177);
  height: 60px;
  width: 464.5px;
  border-radius: 25px;
  font-size: 25px;
  color: #280559;
  padding: 0px 40px 0px 40px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
}

.custom-menu {
  background-color: #ffffff;
  /* border: 1px solid #d9d9d900; */
  padding: 0px;
  margin-top: 10px;
  border-radius: 50px 50px 0px 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Slower transition */
}

.custom-menu.show {
  max-height: 500px; /* Adjust the max-height as needed */
}

.container-cover {
  background-color: #e9e9e9;
  border: 1px solid #000000;
  padding: 10px;
  margin-top: 20px;
  border-radius: 50px;
} 

.account-item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 5px;
  border-bottom: 5px solid #d9d9d9;
}

.account-item:last-child {
  border-bottom: none;
}

.account-avatar {
  margin-right: 20px;
  width: 48px;
  height: 48px;
}

.account-name {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.account-email {
  font-size: 18px;
  color: #888;
  font-family: 'Quicksand', sans-serif;
}

.account-action {
  width: 48%;
}



.btn-text {
  flex-grow: 1;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
}

.btn-icon {
  flex-shrink: 0;
}

.account-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 20px;
}

.btn-show-accounts {
  padding: 0 20px 0 20px;
}

.corver {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-hide-acc {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.btn-text {
  flex-grow: 1;
  text-align: left;
  font-size: large;
}

.btn-icon {
  flex-shrink: 0;
}

.account-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  width: 400px;
  height: 70px;
}

.btn-add-account-show {
  background-color: #ffffff;
  border: #d9d9d9;
  height: 70px;
  width: 202.5px;
  font-size: 19px;
  border-radius: 0px 0px 0px 50px;
  font-family: 'Quicksand', sans-serif;
  border-right: 5px solid #d9d9d9;
  border-top: 5px solid #d9d9d9;
}

.btn-add-account-hide {
  background-color: #ffffff;
  height: 70px;
  width: 195px;
  font-size: 19px;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
}

.btn-signout-show {
  background-color: #ffffff;
  border: #d9d9d9;
  height: 70px;
  width: 197.5px;
  font-size: 19px;
  border-radius: 0px 0px 50px 0px;
  border-top: 5px solid #d9d9d9;
  font-family: 'Quicksand', sans-serif;
}

.btn-signout-hide {
  background-color: #ffffff;
  height: 70px;
  width: 195px;
  font-size: 19px;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
}

.icon-large {
  font-size: 20px;
}

.showandhide {
  font-size: 22px;
}



.container-background {
  background-color: #ffffff;
  align-items: center;
}


