.rectangle-content {
    background-color: #D9D9D9;
    color: #000000;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 72px 36px;
}

.rectangle-content .divider {
    border-top: 1px solid #000000;
    margin: 12px 0;

}

.rectangle-content .content1 {
    height: 250px;
}

.rectangle-content .content1 .sub-title {
    padding: 0 24px;
    width: 70%;
}

.rectangle-content .content1 .sub-content {
    padding: 0px 24px 12px;
    width: 70%;
    font-size: 15px;
    line-height: 30px;
}

.rectangle-content .content2 {
    padding: 12px 24px;
    height: 50px;
}
